{% extends 'base.html' %}
{% block title %}{{ author }} profile{% endblock %}
{% block content %}
<div>
    <h1 class="title">All {{ author }}'s posts</h1>
    <h3>Total posts {{ posts.count }}</h3>
    <h3>Followers {{ followers_count }}</h3>
    <h3>Following {{ following_count }}</h3>


    {% if following %}
    <a href="{% url 'travel_posts:profile_unfollow' author.username %}">Unfollow</a>
    {% else %}
    <a href="{% url 'travel_posts:profile_follow' author.username %}">Follow</a>
    {% endif %}


    {% for post in page_posts %}
    {% include 'includes/post_card.html' %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}
