<article class="card">
    {% with request.resolver_match.view_name as view_name %}
    <ul>
        <li>
            Author: <a href="{% url 'travel_posts:profile' post.author.username %}">{{ post.author }}</a>
        </li>
        <li>
            Date: {{ post.pub_date|date:"d.m.Y" }}
        </li>
    </ul>
    <p>
        {{ post.text }}
    </p>
    <a href="{% url 'travel_posts:post_detail' post.pk %}">Post details</a>
    <br>
    {% if user.is_authenticated and user == post.author %}
    <a href="{% url 'travel_posts:post_edit' post.pk %}">Edit</a>
    <br>
    {% endif %}
    {% if view_name != 'travel_posts:country_posts' and post.country %}
    <a href="{% url 'travel_posts:country_posts' post.country.slug %}">All {{ post.country.slug }} posts</a>
    <br>
    {% endif %}
    {% endwith %}
</article>